
*.ilk
*.user
*.filters
*.sln
*.ipch
*.opendb
*.db-wal
*.db-shm
*.db
Remind_C-Cpp/.vs/Remind_C-Cpp/v17/.suo
*.lock
*.vsidx
Remind_C-Cpp/Remind_C-Cpp/Remind_C-Cpp.vcxproj
*.recipe
*.log
*.obj
*.tlog
*.pdb
*.exe
*.idb
